[submodule "external/abseil"]
	path = external/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third-party/abseil"]
	path = third-party/abseil
	url = https://github.com/abseil/abseil-cpp.git
