[submodule "third_party/boost_intrusive"]
	path = third_party/boost_intrusive
	url = https://github.com/boostorg/intrusive.git
	branch = master
[submodule "third_party/abseil"]
	path = third_party/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/microsoft/mimalloc.git
